@import "tailwindcss";

@theme {
  /* Nos couleurs premium */
  --color-charcoal: #121212;
  --color-offwhite: #F9F8F6;
  --color-beige: #E6DCC8;
  --color-gold: #C5A059;
  --color-darkgreen: #0A1F15;

  /* Nos typographies */
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

/* Couleurs de fond par défaut */
body {
  background-color: var(--color-charcoal);
  color: var(--color-offwhite);
}
